@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&family=VT323&display=swap');

:root {
    --dark-1: #080808;
    --dark-2: #0D0208;
    --dark-bg: linear-gradient(90deg, var(--dark-1) 0%, var(--dark-2) 15%, var(--dark-2) 85%, var(--dark-1) 100%);
    --dark-green: #003B00;
    --medium-green: #008f11;
    --light-green: #00ff41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: var(--dark-bg);
    color: var(--medium-green);
}

h2 {
    font-family: 'Press Start 2P';
    font-size: 20px;
}

h3 {
    font-family: 'Press Start 2P';
    font-size: 18px;
    margin-bottom: 12px;
}

p {
    font-family: 'Play';
    font-size: 16px;
}

a:link {
    color: var(--medium-green);
    padding: 10px;
}

a:visited {
    color: var(--light-green);
    background-color: transparent;
}

a:hover {
    color: var(--dark-1);
    background-color: var(--light-green);
}

a:active {
    color: var(--medium-green);
    padding: 10px;
}

header {
    border-bottom: 0.4px solid var(--light-green);
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: var(--dark-1);
}

section {
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    section {
        width: 100%;
    }
}
.logo {
    color: var(--medium-green);
    font-family: 'Press Start 2P';
    border: 2px solid var(--medium-green);
    padding: 16px;
    user-select: none;
}

.logo:hover {
    color: var(--dark-1);
    background-color: var(--light-green);
}

.section-title {
    margin-top: 50px;
    padding: 10px
}

.section-title:hover {
    background-color: var(--light-green);
    color: var(--dark-1);
    padding: 10px 10px
}

.header-image {
    width: 128px;
}

.header-menu {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .header-menu {
        display: none;
    }

    header {
        position: relative;
    }
}

.header-menu-item {
    font-family: 'Press Start 2P';
    font-size: 12px;
    color: var(--medium-green);
    padding: 1rem;
}

.header-menu-item:hover {
    color: var(--dark-1);
    background-color: var(--light-green);
}

.header-menu-item:active {
    color: var(--medium-green);
    background-color: var(--light-green);
}

.content {
    margin-bottom: 32px;
    text-align: center;
}

.content-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.content-home-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-home-text-description {
    display: flex;
    flex-direction: column;
}

.content-home-icon {
    display: flex;
    flex-wrap: wrap;
}

.content-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 32px;
}

.content-about-me-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 32px 32px;
}

@media only screen and (min-width: 1200px) {
    .content-about-me-info {
        padding: 32px 200px;
    }
}

@media only screen and (max-width)

.content-about-me-text {
    text-align: center;
    letter-spacing: 0.02em;
}

.content-about-me-text a {
    background-color: transparent;
    padding: 0px;
}

.content-about-me-text a:link {
    color: var(--medium-green);
    text-decoration: underline;
}

.content-about-me-text a:visited{
    color: var(--light-green);
    background-color: transparent;
}

.content-about-me-text a:hover {
    color: var(--dark-1);
    background-color: var(--light-green);
}

.content-about-me-text a:active {
    color: var(--medium-green);
}

.content-about-me-image {
    max-width: 256px;
    max-height: 256px;
    margin-bottom: 32px;
}

.content-about-me-image:hover {
    background-color: var(--light-green);
}

.content-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 32px;
}

.content-projects-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.card {
    border: 1px solid;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 32px;
    margin: 20px;
    width: 375px;
    height: 500px;
    transition: all 0.3s ease-out;
    background-color: #000
}

.card:hover {
    transform: translateY(-5px);
}

.card-footer {
    margin-top: 32px;
}

.card-image {
    width: 416px;
    height: 200px;
    max-width: 100%;
    padding: 8px;
    border: 2px solid var(--medium-green);
    object-fit: contain;
    background-color: var(--dark-green)
}

.card-description {
    margin-top: 16px;
}

.card h2 {
    margin-bottom: 32px;
    font-size: 12px;
}

.card a {
    font-family: 'Press Start 2P';
    font-size: 12px;
    display: flex;
}

footer {
    display: flex;
    border-top: 0.4px solid var(--light-green);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: var(--dark-1);
}