@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&family=VT323&display=swap');

:root {
    --dark-1: #080808;
    --dark-2: #0D0208;
    --dark-bg: linear-gradient(90deg, var(--dark-1) 0%, var(--dark-2) 15%, var(--dark-2) 85%, var(--dark-1) 100%);
    --dark-green: #003B00;
    --medium-green: #008f11;
    --light-green: #00ff41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: var(--dark-bg);
    color: var(--medium-green);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: var(--dark-1);
}

.logo {
    color: var(--medium-green);
    font-family: 'Press Start 2P';
    border: 2px solid var(--medium-green);
    padding: 16px;
}

.header-image {
    width: 128px;
}

.header-menu {
    display: flex;
}

.header-menu-item {
    font-family: 'Press Start 2P';
    font-size: clamp(8px, 8px, 16px);
    color: var(--medium-green);
    padding: 1rem;
}

.header-menu-item:hover {
    color: var(--dark-1);
    background-color: var(--light-green);
    padding: 1rem;
}

.header-menu-item:active {
    color: var(--medium-green);
    background-color: var(--light-green);
}

.content {
    border-top: 0.4px solid var(--light-green);
    margin-bottom: 32px;
    text-align: center;
}

.content-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.content-home-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-home-text-description {
    display: flex;
    flex-direction: column;
}

.content-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 32px;
}

.content-about-me-image {
    width: 256px;
}

.content-about-me-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 32px;
}

.content-projects-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h2 {
    font-family: 'Press Start 2P';
    font-size: 16px;
}

p {
    font-family: 'Play';
    font-size: 16px;
}

a:link {
    color: var(--medium-green);
    padding: 10px;
}

a:visited {
    color: var(--light-green);
    background-color: transparent;
}

a:hover {
    color: var(--dark-1);
    background-color: var(--light-green);
}

a:active {
    color: var(--medium-green);
    padding: 10px;
}

footer {
    display: flex;
    border-top: 0.4px solid var(--light-green);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: var(--dark-1);
}